<header>
    <span class="title">Tracing Scribbles</span>
    <nav>
        <a [routerLink]="moduleRouteService.prependParentPath('/sketch') | async" routerLinkActive="active">Sketch</a>
        <a [routerLink]="moduleRouteService.prependParentPath('/browse') | async" routerLinkActive="active">Browse</a>
        <a [routerLink]="moduleRouteService.prependParentPath('/game') | async" routerLinkActive="active">Game</a>
        <a [routerLink]="moduleRouteService.prependParentPath('/highscores') | async" routerLinkActive="active">Highscores</a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
